src/13-MQTT-pub-sub/MQTT-nodered.json
[
    {
        "id": "ac7ae654d45e2bd8",
        "type": "debug",
        "z": "82edf446f47f8e8b",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 240,
        "wires": []
    },
    {
        "id": "165af8860686e330",
        "type": "mqtt in",
        "z": "82edf446f47f8e8b",
        "name": "",
        "topic": "MQTT@ESP32BasicStartKitIOT/suhu",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8598583caf00dc7f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 260,
        "wires": [
            [
                "ac7ae654d45e2bd8",
                "fc1931b5ca5b8017"
            ]
        ]
    },
    {
        "id": "d84ebe97549f84d6",
        "type": "mqtt in",
        "z": "82edf446f47f8e8b",
        "name": "",
        "topic": "MQTT@ESP32BasicStartKitIOT/kelembapan",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "8598583caf00dc7f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 340,
        "wires": [
            [
                "fb9bf71b8e001a47",
                "917546a82f40de33"
            ]
        ]
    },
    {
        "id": "fb9bf71b8e001a47",
        "type": "debug",
        "z": "82edf446f47f8e8b",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 340,
        "wires": []
    },
    {
        "id": "fc1931b5ca5b8017",
        "type": "ui_gauge",
        "z": "82edf446f47f8e8b",
        "name": "Suhu",
        "group": "3f5edb2d212efb90",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Suhu",
        "label": "C",
        "format": "{{value}}",
        "min": "20",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 180,
        "wires": []
    },
    {
        "id": "917546a82f40de33",
        "type": "ui_gauge",
        "z": "82edf446f47f8e8b",
        "name": "Kelembapan",
        "group": "3f5edb2d212efb90",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Kelembapan",
        "label": "%",
        "format": "{{value}}",
        "min": "50",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 690,
        "y": 400,
        "wires": []
    },
    {
        "id": "70ee3d6457320df7",
        "type": "debug",
        "z": "82edf446f47f8e8b",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 500,
        "wires": []
    },
    {
        "id": "5288fdc33672d697",
        "type": "ui_button",
        "z": "82edf446f47f8e8b",
        "name": "",
        "group": "3f5edb2d212efb90",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Lampu 1 - ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "on",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 380,
        "y": 480,
        "wires": [
            [
                "70ee3d6457320df7",
                "75276e2c9c710812"
            ]
        ]
    },
    {
        "id": "b025c9da8bb54f71",
        "type": "ui_button",
        "z": "82edf446f47f8e8b",
        "name": "",
        "group": "3f5edb2d212efb90",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Lampu 1 - OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "off",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 380,
        "y": 560,
        "wires": [
            [
                "70ee3d6457320df7",
                "75276e2c9c710812"
            ]
        ]
    },
    {
        "id": "75276e2c9c710812",
        "type": "mqtt out",
        "z": "82edf446f47f8e8b",
        "name": "",
        "topic": "MQTT@ESP32BasicStartKitIOT/lamp1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8598583caf00dc7f",
        "x": 790,
        "y": 560,
        "wires": []
    },
    {
        "id": "8598583caf00dc7f",
        "type": "mqtt-broker",
        "name": "mqtt-dashboard",
        "broker": "broker.mqtt-dashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3f5edb2d212efb90",
        "type": "ui_group",
        "name": "Default",
        "tab": "7b095f176a35be7d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7b095f176a35be7d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]